<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<title>Near Yu</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<meta
			name="viewport"
			content="width=device-width"
			initial-scale="1.0"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	</head>
	<body>
		<section id="home">
			<section class="wrapper">
				<header>
					<h1>
						<a href="#"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
					</h1>
					<ul class="nav-links">
						<li>
							<form action="">
								<span
									><img src="{% static 'images/search.png' %}" alt="search"
								/></span>
								<input
									type="text"
									placeholder="Search here what you need"
								/>
							</form>
						</li>
						<li class="other">
							<a href="#" class="wishlist_button" 
								><img src="{% static 'images/like.png' %}" alt="like"
							/></a>
						</li>
						<li class="other">
							<a href="#" class="user_button "
								><img src="{% static 'images/person.png' %}" alt="person"
							/></a>
						</li>
						<li class="other">
							<a href="#" class="cart_button"
								><img src="{% static 'images/cart.png' %}" alt="cart"
							/></a>
						</li>
					</ul>
					<div class="handburger">
						<i class="fa fa-bars"></i>
					</div>
					<section class="user_sign_in">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<!--(user_sign_in section > left)-->
						<div class="right">
							<h3>Create Account</h3>
							<div class="top">
								<form>
									<span
										><img
											src="{% static 'images/Icon material-person-outline.png' %}"
											alt="Person vector"
									/></span>
									<input
										type="text"
										placeholder="Email/Mobile Number"
									/>
								</form>
								<small
									>By continuing,your agree to NearYu's Terms
									of Use and Privacy Policy.
								</small>
							</div>
							<div class="bottom">
								<button type="submit">
									<a href="#" class="button green">
										Continue
									</a>
								</button>
								<p>OR</p>
								<button>
									<a href="#" class="button" id="login">
										Existing User? Log in
									</a>
								</button>
							</div>
						</div>
						<!--(user_sign_in section > right)-->
					</section>
					<!--(user_sign_in section)-->

					<section class="user_login">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<div class="right">
							<div class="top">
								<h3>Welcome back</h3>
								<p>Login to your existing account</p>
								<form>
									<span class="input"
										><small
											><img
												src="{% static 'images/Icon material-person-outline.png' %}"
												alt="User icon"/></small
										><input
											type="text"
											placeholder="Email / Mobile Number"
									/></span>
									<span class="input"
										><small
											><img
												src="{% static 'images/Icon material-lock-outline.png' %}"
												alt="Lock icon icon"/></small
										><input
											type=""
											placeholder="Password"
										/>
										<button class="show">show</button>
									</span>
								</form>
							</div>
							<!--(user_login section > right div > top div)-->
							<div class="bottom">
								<button type="submit">
									<a href="#" class="button green">
										Login
									</a>
								</button>
								<p>OR</p>
								<button class="verify">
									<a href="#" class="button">
										Request OTP
									</a>
								</button>
							</div>
							<span class="sign_in" id="signin">
								<a href="" class="button"
									>New to nearyu? Create an account</a
								>
							</span>
							<!--(user_login section > right div > bottom div)-->
						</div>
						<!--(user_login section > right div)-->
					</section>
					<!--(user_login section)-->
					<section class="verification ">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<div class="right">
							<div class="top">
								<h3>Enter verification Code</h3>
								<p>
									We have send a 4 digit code to 927 346 7745
								</p>
								<form>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
								</form>
							</div>
							<div class="bottom">
								<button>
									<a href="#" class="button">Continue</a>
								</button>
								<p>
									Not received your code?
									<a href="#"> Resend code</a>
								</p>
							</div>
						</div>
					</section>
					<!---( verification section)-->
					<section class="cart ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back"
											src="{% static 'images/arrow.png' %}"
											alt="Cart image"/></span
									>Cart
								</h3></a
							>
							<div class="label">
								<span
									><img
										src="{% static 'images/edit-regular.png' %}"
										alt="Edit option"
										width="20px"
									/>Pin : 623549</span
								>
								<span>Total 4 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i5.jpg' %}" 
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i6.jpg' %}" 
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i7.jpg' %}" 
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
						</div>
						<!--( cart-section > middle div)-->
						<div class="bottom">
							<h3>Summary</h3>
							<p>Subtotal <span>&#x20B9; 2109</span></p>
							<p>Estimated Shipping <span>&#x20B9; 200</span></p>
							<p>Estimated Tax <span>&#x20B9; 00</span></p>
							<span class="strike"
								>-- -- <small>-- --</small></span
							>
							<h6>Total <small>&#x20B9; 2309</small></h6>
							<span class="button">
								<a href="#" class="button">
									Order Now
								</a>
							</span>
						</div>
					</section>
					<!--( cart-section )-->
					<section class="cart">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back"
											src="{% static 'images/arrow.png' %}"
											alt="Cart image"/></span
									>Cart
								</h3></a
							>
							<div class="label">
								<span
									><img
										src="{% static 'images/edit-regular.png' %}"
										alt="Edit option"
										width="20px"
									/>Pin : 623549</span
								>
								<span>Total 0 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<img src="{% static 'images/Group 10028.png' %}" alt="empty cart list" />
						</div>
						<!--( cart-section > middle div)-->
						<div class="bottom">
				
							<h3>Your cart is empty!</h3>
							<p>Add items to it now</p>
							<a href="#" class="button">
									Shop Now
							</a>
						</div>
					</section>
					<!--( .empty_cart-section )-->
					<section class="wishlist ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back_wishlist"
											src="{% static 'images/arrow.png' %}"
											alt="wishlist image"/></span
									>Wishlist
								</h3></a
							>
							<div class="label">
								<span>Total 6 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<ul>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}"  alt="laptop" />
									<a href="#"><img src="{% static 'images/Group 10196.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}"  alt="laptop" />
									<a href="#"><img src="{% static 'images/Group 10196.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>

									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}"  alt="laptop" />
									<a href="#"><img src="{% static 'images/Group 10196.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}"  alt="laptop" />
									<a href="#"><img src="{% static 'images/Group 10196.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}"  alt="laptop" />
									<a href="#"><img src="{% static 'images/Group 10196.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								
							</li>
						</ul>		
					</section> <!-- (.wishlist section) -->
					<section class="wishlist">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back_wishlist"
											src="{% static 'images/arrow.png' %}"
											alt="wishlist image"/></span
									>Wishlist
								</h3></a
							>
							<div class="label">
								<span>Total 6 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<img src="{% static 'images/empty wishlist illustration.png' %}" alt="empty-wishlist" />
						</div>
						<div class="bottom">
							<h3>Your Wishlist is Empty</h3>
							<p>Add items to it now</p>
							<a href="#" class="button">Shop Now</a>
						</div>	
					</section> <!-- (.empty_wishlist section) -->
				</header>
			</section>
			<section id="spotlight">
				<section class="wrapper">
					<div class="left">
						<h1>Apple | Macbook Pro Own at &#8377;69999</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Odit asperiores dolore quae saepe molestias.
						</p>
						<a href="#" class="button ">Show More</a>
						<div class="arrow">
							<a href="#"
								><span class="left"
									><img
										src="{% static 'images/arrow.png' %}"
										alt="arrow"/></span
							></a>
							<span class="dot"></span>
							<span class="dot"></span>
							<span class="dot"></span>
							<span class="dot"></span>
							<span class="dot"></span>
							<span class="dot"></span>
							<a href="#"
								><span class="right"
									><img
										src="{% static 'images/arrow.png' %}"
										alt="arrow"/></span
							></a>
						</div>
					</div>
				</section>
			</section>
			<!-- (#spotlight) -->
		</section>
		<!-- (#home) -->
		<section id="products">
			<div class="top">
				<ul class="owl-carousel owl-theme">
					{% for category in categories %}
					<li>
						<a href="{% url 'web:product' pk=product.pk %}">
							<span>
								<img src="{{category.image.url}}" alt="computer" />
							</span>
							<small>{{category.title}}</small>
						</a>
					</li>
					{% endfor %}
				</ul>
				<div class="arrow">
					<a href="#"
						><span class="left"
							><img src="{% static 'images/arrow.png' %}" alt="arrow"/></span
					></a>
					<a href="#"
						><span class="right"
							><img src="{% static 'images/arrow.png' %}" alt="arrow"/></span
					></a>
				</div>
			</div>
			<!-- (#products > .top) -->
			<div class="bottom">
				<div class="left">
					<h1>Check Our <small>Popular</small> Products</h1>
					<div class="arrow">
						<a href="#"
							><span class="left"
								><img src="{% static 'images/arrow.png' %}" alt="arrow" /></span
						></a>
						<a href="#"
							><span class="right"
								><img src="{% static 'images/arrow.png' %}" alt="arrow" /></span
						></a>
					</div>
				</div>

				<div class="right">
					<ul class="owl-carousel products-slider">
						{% for product in products %}
							{% if product.is_popular %}
								<li>
									<img src="{{product.image.url}}"  alt="image1" />
									<div class="text">
										<p>{{product.name}}</p>
										<span>&#8377;{{product.price}}</span>
									</div>
									<span class="button">
										<a href="#" class="button"
										>
										Order Now
									</a>
									</span>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<!-- (#products > .bottom) -->
		</section>
		<!-- (#products) -->
		<section id="today">
			<section class="wrapper">
				<div class="top">
					<div class="left">
						<h2>On Sale <small>Today</small></h2>
					</div>
					<div class="right">
						<ul>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Gadgets</a></li>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Cosmetics</a></li>
						</ul>
					</div>
				</div>
				<div class="bottom">
					<ul>
						{% for product in products %}
							<li>
								<img src="{{product.image.url}}"  alt="shirts" />
								<div class="overlay">
									<div id="order">
										<a href="{% url 'web:product' pk=product.pk %}" class="button"
											><span
												><img
													src="{% static 'images/whatsapp.png' %}"
													alt="whatsapp"
											/></span>
											Order Now
										</a>
									</div>
								</div>
								<p>{{product.name}}</p>
								<small>&#8377;{{product.price}}</small>
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- (#today > .wrapper > .bottom) -->
			</section>
		</section>
		<!-- (#today) -->
		<section id="banner">
			<section class="wrapper">
				<h1>Men's Fashion Wear at Up to 80% off</h1>
			</section>
		</section>
		<!-- (#banner) -->
		<section id="deals">
			<section class="wrapper">
				<div class="left">
					<div class="top">
						<h2>Hot <small>Deals</small></h2>
					</div>
					<div class="bottom">
						<img src="{{latest_product.image.url}}"  alt="shirts" />
						<p>{{latest_product.name}}</p>
						<small>&#8377;{{latest_product.price}}</small>
					</div>
				</div>
				<!-- (#deals > .wrapper > .left) -->
				<div class="right">
					<div class="top">
						<h2>New <small>Arrivals</small></h2>
					</div>
					<div class="bottom">
						<ul>
							<li>
								<img src="{% static 'images/i5.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
							<li>
								<img src="{% static 'images/i6.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
							<li>
								<img src="{% static 'images/i7.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
							<li>
								<img src="{% static 'images/i7.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
							<li>
								<img src="{% static 'images/i5.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
							<li>
								<img src="{% static 'images/i6.jpg' %}"  alt="gadgets" />
								<div class="text">
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- (#deals > .wrapper > .right) -->
			</section>
		</section>
		<!-- (#deals) -->
		<section id="offer">
			<section class="wrapper">
				<div class="top">
					<h2>Offer <small>Zone</small></h2>
				</div>
				<div class="bottom">
					<ul>
						<li>
							<img src="{% static 'images/i9.png' %}" alt="tomato" />
							<div class="container">
								<div class="top">
									<h6>60% Off</h6>
								</div>
								<div class="bottom">
									<p>Dell PC</p>
									<small>&#8377;85.00</small>
									<span>&#8377;169.00</span>
								</div>
							</div>
						</li>
						<li>
							<img src="{% static 'images/i9.png' %}" alt="tomato" />
							<div class="container">
								<div class="top">
									<h6>60% Off</h6>
								</div>
								<div class="bottom">
									<p>Dell PC</p>
									<small>&#8377;85.00</small>
									<span>&#8377;169.00</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</section>
		<!-- (#offer) -->
		<section id="gallery">
			<section class="wrapper">
				<ul class="slide">
					<li>
						<div class="container">
							<img src="{% static 'images/i11.jpg' %}"  alt="shirt" />
							<div class="over">
								<div id="content">
									<p>The natural ingredients for hair.</p>
									<small>&#8377;75.00</small>
								</div>
								<a href="#" class="button"
										><span
											><img
												src="{% static 'images/whatsapp.png' %}"
												alt="whatsapp"
										/></span>
										Order Now
									</a>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<img src="{% static 'images/i11.jpg' %}"  alt="shirt" />
							<div class="over">
								<div id="content">
									<p>The natural ingredients for hair.</p>
									<small>&#8377;75.00</small>
								</div>
								<a href="#" class="button"
										><span
											><img
												src="{% static 'images/whatsapp.png' %}"
												alt="whatsapp"
										/></span>
										Order Now
									</a>
							</div>
						</div>	
					</li>
					<li>
						<div class="container">
							<img src="{% static 'images/i11.jpg' %}"  alt="shirt" />
							<div class="over">
								<div id="content">
									<p>The natural ingredients for hair.</p>
									<small>&#8377;75.00</small>
								</div>
								<a href="#" class="button"
										><span
											><img
												src="{% static 'images/whatsapp.png' %}"
												alt="whatsapp"
										/></span>
										Order Now
									</a>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</section>
		<!-- (#gallery) -->

		<section id="contact">
			<section class="wrapper">
				<form action="{% url 'web:contact' %}" method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" value="OK">
				</form>
			</section>
		</section>		


		<footer>
			<div class="top">
				<div class="left">
					<a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
					<p>
						Lorem ipsum, dolor sit, amet consectetur adipisicing
						elit. Quis quae iure qui error nisi nam, fugiat quo hic
						in dolores suscipit ab fugit praesentium, quibusdam
						illum? Voluptas laudantium vel similique.
					</p>
				</div>
				<div class="right">
					<ul>
						<li>
							<h6>Quick Links</h6>
							<a href="#"><p>Home</p></a><br />
							<a href="#"><p>About Us</p></a><br />
							<a href="#"><p>Services</p></a><br />
							<a href="#"><p>Contact Us</p></a><br />
						</li>
						<li>
							<h6>Terms of Service</h6>
							<a href="#"><p>Privacy Policy</p></a><br />
							<a href="#"><p>Terms of Service</p></a><br />
							<a href="#"><p>Refund Policy</p></a><br />
							<a href="#"><p>Shipping Policy</p></a><br />
						</li>
						<li>
							<h6>Contact Us</h6>
							<p>
								If you have any questions or need help, feel
								free to contact with our team
							</p>
							<a href="mailto:sample@gmail.com"
								><p>
									<i
										class="fa fa-envelope"
										aria-hidden="true"
									></i
									>sample@gmail.com
								</p></a
							><br />
							<a href="#"
								><p>
									<i
										class="fa fa-phone"
										aria-hidden="true"
									></i
									>Office: +919836749832
								</p></a
							><br />
						</li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				<small>&copy; 2020 Natural Near Yu All right Reserved</small>
			</div>
		</footer>
		<span class="over"></span>
	</body>
</html>
