<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<title>Near Yu | Products</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<meta name="viewport" content="width=device-width" initial-scale="1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	</head>
	<body>
		<section id="home">
			<section class="wrapper">
				<header>
					<h1>
						<a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
					</h1>
					<ul class="nav-links">
						<li>
							<form action="">
								<span><img src="{% static 'images/search.png' %}" alt="search" /></span>
								<input type="text" placeholder="Search here what you need" />
							</form>
						</li>
						<li class="other">
							<a href="#" class="wishlist_button"><img src="{% static 'images/like.png' %}" alt="like" /></a>
						</li>
						<li class="other">
							<a href="#" class="user_button"><img src="{% static 'images/person.png' %}" alt="person" /></a>
						</li>
						<li class="other">
							<a href="#" class="cart_button"><img src="{% static 'images/cart.png' %}" alt="cart" /></a>
						</li>
					</ul>
					<div class="handburger">
						<i class="fa fa-bars"></i>
					</div>
					<section class="user_sign_in">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<!--(user_sign_in section > left)-->
						<div class="right">
							<h3>Create Account</h3>
							<div class="top">
								<form>
									<span
										><img
											src="{% static 'images/Icon material-person-outline.png' %}"
											alt="Person vector"
									/></span>
									<input
										type="text"
										placeholder="Email/Mobile Number"
									/>
								</form>
								<small
									>By continuing,your agree to NearYu's Terms
									of Use and Privacy Policy.
								</small>
							</div>
							<div class="bottom">
								<button type="submit">
									<a href="#" class="button green">
										Continue
									</a>
								</button>
								<p>OR</p>
								<button>
									<a href="#" class="button" id="login">
										Exiting User? Log in
									</a>
								</button>
							</div>
						</div>
						<!--(user_sign_in section > right)-->
					</section>
					<!--(user_sign_in section)-->

					<section class="user_login">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<div class="right">
							<div class="top">
								<h3>Welcome back</h3>
								<p>Login to your existing account</p>
								<form>
									<span class="input"
										><small
											><img
												src="{% static 'images/Icon material-person-outline.png' %}"
												alt="User icon"/></small
										><input
											type="text"
											placeholder="Email / Mobile Number"
									/></span>
									<span class="input"
										><small
											><img
												src="{% static 'images/Icon material-lock-outline.png' %}"
												alt="Lock icon icon"/></small
										><input
											type=""
											placeholder="Password"
										/>
										<button class="show">show</button>
									</span>
								</form>
							</div>
							<!--(user_login section > right div > top div)-->
							<div class="bottom">
								<button type="submit">
									<a href="#" class="button green">
										Login
									</a>
								</button>
								<p>OR</p>
								<button class="verify">
									<a href="#" class="button">
										Request OTP
									</a>
								</button>
							</div>
							<span class="sign_in" id="signin">
								<a href="" class="button"
									>New to nearyu? Create an account</a
								>
							</span>
							<!--(user_login section > right div > bottom div)-->
						</div>
						<!--(user_login section > right div)-->
					</section>
					<!--(user_login section)-->
					<section class="verification ">
						<div class="left">
							<img src="{% static 'images/logo.png' %}" alt="Logo" />
						</div>
						<div class="right">
							<div class="top">
								<h3>Enter verification Code</h3>
								<p>
									We have send a 4 digit code to 927 346 7745
								</p>
								<form>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
									<input
										type="number"
										maxlength="1"
										placeholder="0"
									/>
								</form>
							</div>
							<div class="bottom">
								<button>
									<a href="#" class="button">Continue</a>
								</button>
								<p>
									Not received your code?
									<a href="#"> Resend code</a>
								</p>
							</div>
						</div>
					</section>
					<!---( verification section)-->
					<section class="cart ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back"
											src="{% static 'images/arrow.png' %}"
											alt="Cart image"/></span
									>Cart
								</h3></a
							>
							<div class="label">
								<span
									><img
										src="{% static 'images/edit-regular.png' %}"
										alt="Edit option"
										width="20px"
									/>Pin : 623549</span
								>
								<span>Total 4 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i5.jpg' %}"
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i6.jpg' %}"
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
							<div class="item">
								<div class="img_box">
									<img
										src="{% static 'images/i7.jpg' %}"
										alt="Product image"
									/>
								</div>
								<div class="details">
									<div class="left">
										<h4>Kurti</h4>
										<p>
											Lorem ipsum dolor sit amet
											consectetur
										</p>
									</div>
									<div class="right">
										<p>&#x20B9; 665</p>
										<p class="strike">&#x20B9; 695</p>
										<small>5% off</small>
										<span
											><img
												src="{% static 'images/Icon material-delete.png' %}"
												alt="Delete"
										/></span>
									</div>
								</div>
							</div>
							<!--( cart-section > middle div > item)-->
						</div>
						<!--( cart-section > middle div)-->
						<div class="bottom">
							<h3>Summary</h3>
							<p>Subtotal <span>&#x20B9; 2109</span></p>
							<p>Estimated Shipping <span>&#x20B9; 200</span></p>
							<p>Estimated Tax <span>&#x20B9; 00</span></p>
							<span class="strike"
								>-- -- <small>-- --</small></span
							>
							<h6>Total <small>&#x20B9; 2309</small></h6>
							<span class="button">
								<a href="#" class="button">
									Order Now
								</a>
							</span>
						</div>
					</section>
					<!--( cart-section )-->
					<section class="cart ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back"
											src="{% static 'images/arrow.png' %}"
											alt="Cart image"/></span
									>Cart
								</h3></a
							>
							<div class="label">
								<span
									><img
										src="{% static 'images/edit-regular.png' %}"
										alt="Edit option"
										width="20px"
									/>Pin : 623549</span
								>
								<span>Total 0 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<img src="{% static 'images/Group 10028.png' %}" alt="empty cart list" />
						</div>
						<!--( cart-section > middle div)-->
						<div class="bottom">
				
							<h3>Your cart is empty!</h3>
							<p>Add items to it now</p>
							<a href="#" class="button">
									Shop Now
							</a>
						</div>
					</section>
					<!--( .empty_cart-section )-->
					<section class="wishlist ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back_wishlist"
											src="{% static 'images/arrow.png' %}"
											alt="wishlist image"/></span
									>Wishlist
								</h3></a
							>
							<div class="label">
								<span>Total 6 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<ul>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}" alt="laptop" />
									<a href="#"><img src="{% static 'images/Icon material-delete.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}" alt="laptop" />
									<a href="#"><img src="{% static 'images/Icon material-delete.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>

									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}" alt="laptop" />
									<a href="#"><img src="{% static 'images/Icon material-delete.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}" alt="laptop" />
									<a href="#"><img src="{% static 'images/Icon material-delete.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<img src="{% static 'images/laptop.jpg' %}" alt="laptop" />
									<a href="#"><img src="{% static 'images/Icon material-delete.png' %}" alt="delete" class="delete" /></a>
								</div>
								<div class="details">
									<div class="up">
										<div class="left">
											<p>Acer Laptop</p>
											<small>&#x20B9; 35000/-</small>
										</div>
										<div class="right">
											<p>98% off</p>
										</div>
									</div>
									<div class="down">
										<a href="#"><span>Add to cart</span></a>
									</div>
								</div>
							</li>
							<li>
								
							</li>
						</ul>		
					</section> <!-- (.wishlist section) -->
					<section class="wishlist ">
						<div class="top">
							<a href="#"
								><h3>
									<span
										><img
											class="back_wishlist"
											src="{% static 'images/arrow.png' %}"
											alt="wishlist image"/></span
									>Wishlist
								</h3></a
							>
							<div class="label">
								<span>Total 6 items</span>
							</div>
						</div>
						<!--( cart-section > top div)-->
						<div class="middle">
							<img src="{% static 'images/empty wishlist illustration.png' %}" alt="empty-wishlist" />
						</div>
						<div class="bottom">
							<h3>Your Wishlist is Empty</h3>
							<p>Add items to it now</p>
							<a href="#" class="button">Shop Now</a>
						</div>	
					</section> <!-- (.empty_wishlist section) -->
				</header>
			</section>
		</section> <!-- (#home) -->
		<section id="products">
			<div class="top">
				<ul class="owl-carousel owl-theme">
					<li>
						<a href="#">
							<span>
								<img src="{% static 'images/computer.svg' %}" alt="computer" />
							</span>
							<small>Gadgets</small>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<img src="{% static 'images/computer.svg' %}" alt="computer" />
							</span>
							<small>Electronics</small>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<img src="{% static 'images/computer.svg' %}" alt="computer" />
							</span>
							<small>Groceries</small>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<img src="{% static 'images/computer.svg' %}" alt="computer" />
							</span>
							<small>Fashion</small>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<img src="{% static 'images/computer.svg' %}" alt="computer" />
							</span>
							<small>Backpack</small>
						</a>
					</li>
				</ul>
				<div class="arrow">
					<a href="#"
						><span class="left"
							><img src="{% static 'images/arrow.png' %}" alt="arrow"/></span
					></a>
					<a href="#"
						><span class="right"
							><img src="{% static 'images/arrow.png' %}" alt="arrow"/></span
					></a>
				</div>
			</div>
			<!-- (#products > .top) -->
		</section>
		<!-- (#products) -->
		<section id="categories">
			<section class="wrapper">
				<section class="leftindent">
					<aside>
						<div class="top">
							<h6>Categories</h6>
							<form action="">
								<div class="item">
									<input type="checkbox" name="shirts" />
									<label for="shirts">Shirts</label>
								</div>
								<div class="item">
									<input type="checkbox" name="tshirts" />
									<label for="tshirts">T-Shirts</label>
								</div>
								<div class="item">
									<input type="checkbox" name="kurthi" />
									<label for="kurthi">Kurthi</label>
								</div>
								<div class="item">
									<input type="checkbox" name="parda" />
									<label for="parda">Parda</label>
								</div>
								<div class="item">
									<input type="checkbox" name="churidar" />
									<label for="churidar">Churidar</label>
								</div>
								<div class="item">
									<input type="checkbox" name="pant" />
									<label for="pant">Pant</label>
								</div>
								<div class="item">
									<input type="checkbox" name="shall" />
									<label for="shall">Shall</label>
								</div>
							</form>
						</div>
						<div class="middle">
							<h6>Popular Tags</h6>
							<div class="items">
								<p>Cottens</p>
								<p>Churidar</p>
								<p>Shall</p>
								<p>Parda</p>
								<p>Pants</p>
							</div>	
						</div>
						<div class="bottom">
							<h6>Price Range</h6>
							<span>Price: </span><small>&#8377;100 - &#8377;1000</small>
							<div class="from-to">
								<form action="" class="from">
									<label for="from">From</label><br />
									<input type="text" name="from" placeholder="0.00" />
								</form>
								<form action="" class="to">
									<label for="to">To</label><br />
									<input type="text" name="to" placeholder="0.00" />
								</form>
								<a href="#"><span><i class="fa fa-search" aria-hidden="true"></i></span></a>
							</div>
						</div>
					</aside>
				</section> <!-- (#categories .wrapper .leftindent) -->
				<section class="rightindent">
					<section id="today">
						<div class="bottom">
							<ul>
								<li>
									<img src="{% static 'images/i1.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/i2.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/i3.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/i4.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/i1.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/image1.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/image2.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
								<li>
									<img src="{% static 'images/i2.jpg' %}" alt="shirts" />
									<div class="overlay">
										<div id="order">
											<a href="#" class="button"><span><img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" /></span>
											Order Now
											</a>
										</div>
									</div>
									<p>Allen Pants</p>
									<small>&#8377;599.00</small>
								</li>
							</ul>
							<div class="arrow">
								<a href="#"><span class="left"><img src="{% static 'images/arrow.png' %}" alt="arrow" /></span></a>
								<a href="#"><span class="dot">1</span></a>
								<a href="#"><span class="dot">2</span></a>
								<a href="#"><span class="dot">3</span></a>
								<a href="#"><span class="right"><img src="{% static 'images/arrow.png' %}" alt="arrow" /></span></a>
							</div>
						</div> <!-- (#categories .wrapper #rightindent #today .bottom) -->
					</section><!-- (#categories .wrapper #rightindent > #today) -->
				</section> <!-- (#categories .wrapper #rightindent) -->
			</section> <!-- (#categories .wrapper) -->
		</section> <!-- (#categories) -->

		<footer>
			<div class="top">
				<div class="left">
					<a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
					<p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Quis quae iure qui error nisi nam, fugiat quo hic in dolores suscipit ab fugit praesentium, quibusdam illum? Voluptas laudantium vel similique.</p>
				</div>
				<div class="right">
					<ul>
						<li>
							<h6>Quick Links</h6>
							<a href="#"><p>Home</p></a><br />
							<a href="#"><p>About Us</p></a><br />
							<a href="#"><p>Services</p></a><br />
							<a href="#"><p>Contact Us</p></a><br />
						</li>
						<li>
							<h6>Terms of Service</h6>
							<a href="#"><p>Privacy Policy</p></a><br />
							<a href="#"><p>Terms of Service</p></a><br />
							<a href="#"><p>Refund Policy</p></a><br />
							<a href="#"><p>Shipping Policy</p></a><br />
						</li>
						<li>
							<h6>Contact Us</h6>
							<p>If you have any questions or need help, feel free to contact with our team</p>
							<a href="mailto:sample@gmail.com"><p><i class="fa fa-envelope" aria-hidden="true"></i>sample@gmail.com</p></a><br />
							<a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>Office: +919836749832</p></a><br />
						</li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				<small>&copy; 2020 Natural Near Yu All right Reserved</small>
			</div>
		</footer>
		<span class="over"></span>
	</body>
</html>