* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
}
ol,
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}
del {
	text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
	display: block;
}
body {
	font-family: 'product_sansregular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,
textarea,
select {
	font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}
p {
	line-height: 1.6em;
}
br.clear {
	clear: both;
}

.thumb {
	display: block;
}
.thumb img {
	display: block;
	width: 100%;
}
a:hover,
[type="submit"]:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

@font-face {
	font-family: "product_sansbold";
	src: url("../fonts/product_sans_bold-webfont.woff2") format("woff2"),
		url("../fonts/product_sans_bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "product_sansregular";
	src: url("../fonts/product_sans_regular-webfont.woff2") format("woff2"),
		url("../fonts/product_sans_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

#home {
}

#home header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 75px 0 60px;
}

#home header h1 {
}
#home header h1 a {
	display: inline-block;
	background-color: #4caf50;
	width: 65%;
}

#home header h1 a img {
	display: block;
	width: 100%;
}

#home header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#home header ul.nav-links li {
	margin-right: 40px;
}

#home header ul.nav-links li:last-child {
	margin-right: 0;
}

#home header ul.nav-links li form {
	display: flex;
	align-items: center;
	/*background: #fff;*/
	width: 17rem;
	border: 2px solid #e9e9e9;
	padding: 15px 35px 12px 20px;
	border-radius: 35px;
	position: relative;
	color: #e9e9e9;
}

#home header ul.nav-links li form input[type="text"] {
	font-family: "product_sansregular";
	font-size: 16px;
	color: #000;
	width: 100%;
	margin-left: 16px;
}

#home header ul.nav-links li form span {
	display: inline-block;
	width: 20px;
}

#home header ul.nav-links li form span img {
	display: inline-block;
	width: 20px;
}

#home header ul.nav-links li a {
	display: inline-block;
	width: 50%;
}
#home header ul.nav-links li:last-child a{
	display: flex;
	text-align: center;
	color: white;
}
#home header ul.nav-links li:last-child a img {
    display: block;
    width: 50%;
}

#home header ul.nav-links li a img {
	display: block;
	width: 100%;
}
#home header ul.nav-links li a input{
	width: 50px;
	background-color: red;
	border-radius: 16px;
	text-align: center;
	font-family: "product_sansBold"
}
#home header ul.nav-links li a input::placeholder{
	color: #fff;
}
#home header div.handburger {
	display: none;
}
#home header section.user_sign_in {
	position: fixed;
	top: -1000px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	width: 90%;
	max-width: 800px;
	height: 600px;
	z-index: 9;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* text-align: center; */
	transition: ease-in-out 0.5s;
	opacity: 0;
	overflow: hidden;
}
#home header section.user_sign_in.active {
	top: 200px;
	opacity: 100;
}
#home header section.user_sign_in div.left {
	width: 45%;
	background-color: #4caf50;
	display: flex;
	align-items: center;
}
#home header section.user_sign_in div.left img {
	display: block;
	margin: 0 auto;
	width: 70%;
}
#home header section.user_sign_in div.right {
	width: 55%;
	padding: 70px 50px 50px;
	box-sizing: border-box;
}
#home header section.user_sign_in div.right h3 {
	font-size: 24px;
	text-align: center;
	color: #777777;
	margin-bottom: 70px;
	font-family: "product_sansbold";
}
#home header section.user_sign_in div.right div.top {
	margin-bottom: 70px;
}
#home header section.user_sign_in div.right div.top form {
	width: 100%;
	/* display: flex;
	align-items: center; */
	padding-bottom: 10px;
	border-bottom: 0.5px solid#e0e0e0;
	margin-bottom: 10px;
}
#home header section.user_sign_in div.right div.top form input::placeholder {
	color: #b4b3b3;
	font-family: "product_sansregular";
	font-size: 16px;
}
#home header section.user_sign_in div.right div.top form input {
	color: #b4b3b3;
	font-family: "product_sansregular";
	font-size: 16px;
}
#home header section.user_sign_in div.right div.top form span {
	width: 20px;
	display: inline-block;
	margin-right: 15px;
}
#home header section.user_sign_in div.right div.top form span img {
	width: 100%;
	display: block;
}
#home header section.user_sign_in div.right div.top small {
	font-size: 16px;
	font-family: "product_sansregular";
	color: #b4b3b3;
	line-height: 20px;
}
#home header section.user_sign_in div.right div.bottom {
}
#home header section.user_sign_in div.right div.bottom button {
	width: 100%;
}
#home header section.user_sign_in div.right div.bottom button a.button {
	width: 100%;
	text-align: center;
	display: block;
	padding: 20px 0;
	border-radius: 40px;
}
#home header section.user_sign_in div.right div.bottom button a.green {
	background-color: #4caf50;
	color: #ffffff;
	margin-bottom: 20px;
}
#home
	header
	section.user_sign_in
	div.right
	div.bottom
	button:last-child
	a.button {
	border: 2px solid #4caf50;
	color: #4caf50;
	margin-top: 20px;
}
#home header section.user_sign_in div.right div.bottom p {
	text-align: center;
	color: #979797;
}
#home header section.user_login {
	position: fixed;
	top: -1000px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	width: 70%;
	max-width: 800px;
	height: 600px;
	z-index: 8;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* text-align: center; */
	transition: ease-in-out 0.5s;
	opacity: 0;
	overflow: hidden;
}
#home header section.user_login.active {
	top: 200px;
	opacity: 100;
}
#home header section.user_login div.left {
	width: 45%;
	background-color: #4caf50;
	display: flex;
	align-items: center;
}
#home header section.user_login div.left img {
	display: block;
	margin: 0 auto;
	width: 70%;
}
#home header section.user_login div.right {
	width: 55%;
	padding: 70px 50px 50px;
	box-sizing: border-box;
}
#home header section.user_login div.right div.top h3 {
	font-size: 24px;
	text-align: center;
	color: #777777;
	font-family: "product_sansbold";
}
#home header section.user_login div.right div.top p {
	font-size: 13px;
	text-align: center;
	color: #777777;
	margin-bottom: 50px;
}
#home header section.user_login div.right div.top {
	margin-bottom: 70px;
}
#home header section.user_login div.right div.top form {
	width: 100%;
	/* display: flex;
	align-items: center; */
}
#home header section.user_login div.right div.top form span.input {
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid#e0e0e0;
	padding-bottom: 10px;
	margin-bottom: 40px;
	width: 100%;
}
#home header section.user_login div.right div.top form span.input small {
	width: 15px;
	display: block;
}
#home header section.user_login div.right div.top form span.input small img {
	width: 100%;
	display: block;
}
#home header section.user_login div.right div.top form span.input input {
	flex: 1;
	color: #b4b3b3;
	font-family: "product_sansregular";
	font-size: 16px;
	margin-left: 15px;
}
#home
	header
	section.user_login
	div.right
	div.top
	form
	span.input
	input::placeholder {
	color: #b4b3b3;
	font-family: "product_sansregular";
	font-size: 16px;
}
#home header section.user_login div.right div.top form span.input button.show {
	color: #4caf50;
	font-family: "product_sansBold";
	cursor: pointer;
}
#home header section.user_login div.right div.bottom {
}
#home header section.user_login div.right div.bottom button {
	width: 100%;
}
#home header section.user_login div.right div.bottom button a.button {
}
#home header section.user_login div.right div.bottom button a.button {
	width: 100%;
	text-align: center;
	display: block;
	padding: 20px 0;
	border-radius: 40px;
}
#home header section.user_login div.right div.bottom button a.green {
	background-color: #4caf50;
	color: #ffffff;
	margin-bottom: 20px;
}
#home
	header
	section.user_login
	div.right
	div.bottom
	button:last-child
	a.button {
	border: 2px solid #4caf50;
	color: #4caf50;
	margin-top: 20px;
}
#home header section.user_login div.right div.bottom p {
	text-align: center;
	color: #979797;
}
#home header section.user_login div.right span.sign_in {
	width: 100%;
	display: block;
	text-align: center;
	/* position: relative; */
	/* bottom: -35px; */
	padding-top: 35px;
}
#home header section.user_login div.right span.sign_in a {
	display: block;
	font-size: 15px;
	color: #b4b3b3;
}
#home header section.verification {
	position: fixed;
	top: -1000px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	width: 70%;
	max-width: 800px;
	height: 600px;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* text-align: center; */
	transition: ease-in-out 0.5s;
	opacity: 0;
	overflow: hidden;
}
#home header section.verification.active {
	top: 200px;
	opacity: 100;
}
#home header section.verification div.left {
	width: 45%;
	background-color: #4caf50;
	display: flex;
	align-items: center;
}
#home header section.verification div.left img {
	display: block;
	margin: 0 auto;
	width: 70%;
}
#home header section.verification div.right {
	width: 55%;
	padding: 70px 50px 50px;
	box-sizing: border-box;
}
#home header section.verification div.right div.top h3 {
	font-size: 24px;
	text-align: center;
	color: #777777;
	font-family: "product_sansbold";
}
#home header section.verification div.right div.top p {
	font-size: 13px;
	text-align: center;
	color: #777777;
	margin-bottom: 50px;
}
#home header section.verification div.right div.top form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}
#home header section.verification div.right div.top form input {
	-webkit-appearance: none;
	width: 23%;
	text-align: center;
	border-bottom: 2px solid #b4b3b3;
	height: 50px;
	color: #b4b3b3;
	font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#home header section.verification div.right div.top form input::placeholder {
	font-size: 30px;
	color: #b4b3b3;
}
#home header section.verification div.right div.bottom {
	margin-top: 80px;
}
#home header section.verification div.right div.bottom button {
	width: 100%;
}
#home header section.verification div.right div.bottom button a.button {
	text-align: center;
	display: block;
	padding: 20px 0;
	border-radius: 40px;
	background-color: #4caf50;
	color: #ffffff;
	margin-bottom: 20px;
}
#home header section.verification div.right div.bottom p {
	text-align: center;
	font-size: 14px;
	color: #777777;
}
#home header section.verification div.right div.bottom p a {
	color: #4caf50;
	font-family: "product_sansbold";
	display: inline-block;
}

#home header section.cart {
	width: 70%;
	min-width: 280px;
	max-width: 600px;
	height: 100vh;
	overflow: scroll;
	background-color: #fff;
	padding: 50px;
	position: fixed;
	top: 0;
	right: -600px;
	border: 0.5px solid rgb(187, 187, 187);
	box-sizing: border-box;
	transition: ease-in-out 0.5s;
	z-index: 99;
	opacity: 0;
	/* display: none; */
}
#home header section.cart.active {
	right: 0;
	opacity: 100;

}

#home header section.cart.active .over {
	display: block;
}
#home header section.cart div.top {
	margin-bottom: 30px;
}
#home header section.cart div.top a {
	display: block;
	color: rgb(37, 37, 37);
}
#home header section.cart div.top h3 {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	color: #515151;
	font-family: "product_sansbold";
}
#home header section.cart div.top h3 img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}
#home header section.cart div.top div.label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#home header section.cart div.top div.label span {
	display: block;
	color: #b4b3b3;
	font-family: "product_sansregular";
	font-size: 14px;
}
#home header section.cart div.top div.label span img {
	display: inline-block;
	margin-right: 10px;
}
#home header section.cart div.middle {
	height: 45vh;
	overflow: auto;
	margin-bottom: 20px;
}
#home header section.cart div.middle div.item {
	display: flex;
	/* justify-content: space-between; */
	padding-bottom: 15px;
}
#home header section.cart div.middle div.item div.img_box {
	width: 100px;
	margin-right: 10px;
	flex: 0.2;
}
#home header section.cart div.middle div.item div.img_box img {
	display: block;
	width: 100%;
}
#home header section.cart div.middle div.item div.details {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}
#home header section.cart div.middle div.item div.details h4 {
	font-size: 15px;
	font-family: "product_sansregular";
	font-weight: bold;
}
#home header section.cart div.middle div.item div.details p {
	color: #707070;
	font-size: 14px;
	line-height: 30px;
	font-family: "product_sansregular";
	line-height: 22px;
}


#home header section.cart div.middle div.item div.details div.left {
	width: 60%;
}
#home header section.cart div.middle div.item div.details div.right {
	width: 40%;
	text-align: right;
}
#home header section.cart div.middle div.item div.details div.right p.strike {
	text-decoration: line-through;
	font-size: 14px;
	color: #CDCDCD;
}

#home header section.cart div.middle div.item div.details div.right p {
	font-size: 17px;
}
#home
	header
	section.cart
	div.middle
	div.item
	div.details
	div.right
	p:first-child {
	color: #424242;
}
#home header section.cart div.middle div.item div.details div.right small {
	color: #1ce222;
	display: block;
	font-size: 14px;
	font-family: "product_sansregular";
	font-weight: bold;
}
#home header section.cart div.details div.right span {
	width: 15px;
	display: inline-block;
	text-align: right;
}
#home header section.cart div.details div.right span img {
	width: 100%;
	display: block;
}
#home header section.cart div.bottom {
	height: 40vh;
}
#home header section.cart div.bottom h3 {
	font-family: 'product_sansbold';
	font-size: 22px;
	margin-bottom: 20px;
}
#home header section.cart div.bottom p {
	display: flex;
	justify-content: space-between;
	font-family: 'product_sansregular';
	font-size: 16px;
	color: #707070;
	line-height: 35px;
}
#home header section.cart div.bottom span.strike {
	display: flex;
	justify-content: space-between;
	color: #2e2c2c;
	line-height: 35px;
	font-size: 20px;
}
#home header section.cart div.bottom h6 {
	display: flex;
	justify-content: space-between;
	color: #2e2c2c;
	font-size: 22px;
	font-family: 'product_sansbold';
}
#home header section.cart div.bottom span.button {
	width: 100%;

	background-color: #4caf50;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin-top: 30px;
}
#home header section.cart div.bottom span.button a.button {
	color: #fff;
	display: block;
	background: url(../images/whatsapp.png) no-repeat;
	background-size: 30px;
	background-position: left 30px top 20px;
	padding: 30px 0;
	font-family: 'product_sansregular';
	font-size: 20px;
}

#home header section.wishlist {
	width: 70%;
	min-width: 280px;
	max-width: 600px;
	height: 100vh;
	overflow: scroll;
	background-color: #fff;
	padding: 50px;
	position: fixed;
	top: 0;
	right: -600px;
	border: 0.5px solid rgb(187, 187, 187);
	box-sizing: border-box;
	transition: ease-in-out 0.5s;
	z-index: 99;
	opacity: 0;
	/* display: none; */
}

#home header section.wishlist.active {
	right: 0;
	opacity: 100;
}

#home header section.wishlist div.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

#home header section.wishlist div.top a {
	display: block;
	color: rgb(37, 37, 37);
}

#home header section.wishlist div.top a h3 {
	display: flex;
	align-items: center;
	color: #515151;
	font-family: "product_sansbold";
}

#home header section.wishlist div.top a h3 span {
}

#home header section.wishlist div.top a h3 span img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}

#home header section.wishlist div.top div.label {
	font-family: "product_sansregular";
	color: #a6a6a6;
	font-size: 15px;
}

#home header section.wishlist div.top div.label span {
}

#home header section.wishlist ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	overflow: auto;
	height: 95%;
}

#home header section.wishlist ul li {
	margin-right: 0;
}

#home header section.wishlist ul li div.item {
	width: 230px;
}

#home header section.wishlist ul li div.item img {
	display: block;
	width: 100%;
	z-index: 100;
	position: relative;
}

#home header section.wishlist ul li div.item a {
	display: inline-block;
}

#home header section.wishlist ul li div.item a img.delete {
	display: inline-block;
	width: 20px;
	z-index: 101;
	bottom: 145px;
	left: 200px;
}

#home header section.wishlist ul li div.details {
	border: 1px solid #ececec;
}

#home header section.wishlist ul li div.details div.up {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 12px;
	border-bottom: 1px solid #ececec;
}
#home header section.wishlist ul li div.details div.up div.left {
}

#home header section.wishlist ul li div.details div.up div.left p {
	font-family: "product_sansregular";
	color: #a6a6a6;
}

#home header section.wishlist ul li div.details div.up div.left small {
	font-family: "product_sansbold";
	font-size: 13px;
	color: #585858;
}

#home header section.wishlist ul li div.details div.up div.right {
}

#home header section.wishlist ul li div.details div.up div.right p {
	font-family: "product_sansregular";
	font-weight: bold;
	font-size: 14px;
	color: #4caf50;
}

#home header section.wishlist ul li div.details div.down {
	padding: 12px;
	text-align: center;
}
#home header section.wishlist ul li div.details div.down a {
	display: inline-block;
}
#home header section.wishlist ul li div.details div.down a span {
	font-family: "product_sansregular";
	font-size: 13px;
	color: #4caf50;
}

#home header section.wishlist {
	width: 70%;
	min-width: 280px;
	max-width: 600px;
	overflow: scroll;
	background-color: #fff;
	padding: 50px;
	position: fixed;
	top: 0;
	right: -600px;
	border: 0.5px solid rgb(187, 187, 187);
	box-sizing: border-box;
	transition: ease-in-out 0.5s;
	z-index: 99;
	opacity: 0;
	/* display: none; */
}
#home header section.wishlist.active {
	right: 0;
	opacity: 100;
}

#home header section.wishlist div.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

#home header section.wishlist div.top a {
	display: block;
	color: rgb(37, 37, 37);
}

#home header section.wishlist div.top a h3 {
	display: flex;
	align-items: center;
	color: #515151;
	font-family: "product_sansbold";
}

#home header section.wishlist div.top a h3 span {
}

#home header section.wishlist div.top a h3 span img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}

#home header section.wishlist div.top div.label {
	font-family: "product_sansregular";
	color: #a6a6a6;
	font-size: 15px;
}

#home header section.wishlist div.top div.label span {
}

#home header section.wishlist div.middle {
	width: 100%;
	padding: 37px 0 40px;
}

#home header section.wishlist div.middle img {
	display: block;
	width: 100%;
}

#home header section.wishlist div.bottom {
	text-align: center;
}

#home header section.wishlist div.bottom h3 {
	color: #515151;
	font-family: "product_sansbold";
	font-size: 35px;
}

#home header section.wishlist div.bottom p {
	font-family: "product_sansregular";
	font-size: 15px;
	color: #96a098;
	margin-top: 20px;
}

#home header section.wishlist div.bottom a.button {
	margin-top: 60px;
	display: inline-block;
	padding: 20px 150px;
	background-color: #4caf50;
	color: #fff;
	border-radius: 30px;
	font-family: "product_sansregular";
	font-size: 21px;
}

#home header section.cart {
	width: 70%;
	overflow: scroll;
	min-width: 280px;
	max-width: 600px;
	background-color: #fff;
	padding: 50px;
	position: fixed;
	top: 0;
	right: -600px;
	border: 0.5px solid rgb(187, 187, 187);
	box-sizing: border-box;
	transition: ease-in-out 0.5s;
	z-index: 99;
	opacity: 0;
	/* display: none; */
}
#home header section.cart.active {
	right: 0;
	opacity: 100;
}

#home header section.cart div.top {
	/* margin-bottom: 30px; */
}
#home header section.cart div.top a {
	display: block;
	color: rgb(37, 37, 37);
}
#home header section.cart div.top h3 {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	font-weight: bold;
}
#home header section.cart div.top h3 img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}
#home header section.cart div.top div.label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#home header section.cart div.top div.label span {
	display: block;
	color: #b4b3b3;
	font-family: "product_sansregular";
}

#home header section.cart div.middle {
	width: 100%;
	padding: 60px 0 40px;
}

#home header section.cart div.middle img {
	display: block;
	width: 75%;
	margin: 0 auto;
}

#home header section.cart div.bottom {
	text-align: center;
}

#home header section.cart div.bottom h3 {
	color: #515151;
	font-family: "product_sansbold";
	font-size: 35px;
}

#home header section.cart div.bottom p {
	font-family: "product_sansregular";
	display: block;
	font-size: 15px;
	color: #96a098;
	margin-top: 20px;
	text-align: center;
}

#home header section.cart div.bottom a.button {
	margin-top: 60px;
	display: inline-block;
	padding: 20px 150px;
	background-color: #4caf50;
	color: #fff;
	border-radius: 30px;
	font-family: "product_sansregular";
	font-size: 21px;
}

#home header section.cart div.top div.label span img {
	display: inline-block;
	margin-right: 10px;
}
#spotlight {
	background: url(../images/laptop.jpg) no-repeat;
	background-size: cover;
	height: 650px;
	padding-top: 120px;
}

#spotlight div.left {
	width: 50%;
}

#spotlight div.left h1 {
	font-family: "product_sansbold";
	color: #fff;
	font-size: 62px;
	line-height: 90px;
	margin-top: 100px;
}

#spotlight div.left p {
	font-family: "product_sansregular";
	font-size: 25px;
	color: #fff;
}

#spotlight div.left a.button {
	display: inline-block;
	font-family: "product_sansbold";
	color: #4caf50;
	padding: 20px 50px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	margin-top: 50px;
	font-size: 21px;
}

#spotlight div.arrow {
	margin-top: 70px;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#spotlight div.arrow a {
	display: inline-block;
}
#spotlight div.arrow a span.left {
	padding: 13px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 30px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
}

#spotlight div.arrow a span.left img {
	display: block;
	width: 100%;
}
#spotlight div.arrow span.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
}
#spotlight div.arrow a span.right {
	padding: 13px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 30px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
}

#spotlight div.arrow a span.right img {
	display: block;
	width: 100%;
	transform: scaleX(-1);
}

#products {
}

#products div.top {
}

#products div.top ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 115px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
}

#products div.top ul li {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	border-right: 1px solid #e9e9e9;
}

#products div.top ul li a {
	display: inline-block;
}
#products div.top ul li a span {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 20px;
	display: inline-block;
	background: linear-gradient(45deg, #4cb050, #307563);
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	margin-right: 30px;
}

#products div.top ul li a span img {
	display: inline-block;
	width: 100%;
}

#products div.top ul li a small {
	font-family: "product_sansregular";
	font-size: 25px;
	color: #15232e;
}

#products div.top div.arrow {
	display: flex;
	align-items: center;
	margin: 80px 120px 0 0;
	justify-content: flex-end;
}
#products div.top div.arrow a {
	display: inline-block;
}

#products div.top div.arrow a span.left {
	padding: 20px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 25px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	margin-right: 20px;
}

#products div.top div.arrow a span.left img {
	width: 100%;
	display: block;
}

#products div.top div.arrow a span.right {
	padding: 20px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 25px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
}

#products div.top div.arrow a span.right img {
	display: block;
	width: 100%;
	transform: scaleX(-1);
}

#products div.bottom {
	display: flex;
	justify-content: space-between;
	padding: 110px 0 110px 130px;
	background: url(../images/circle.png) no-repeat;
	background-position-x: initial;
}

#products div.bottom div.left {
	width: 35%;
}

#products div.bottom div.left h1 {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #15232e;
	margin: 75px 0 45px;
	line-height: 60px;
}

#products div.bottom div.left h1 small {
	color: #4caf50;
	font-size: 50px;
}

#products div.bottom div.left div.arrow {
	display: flex;
}

#products div.bottom div.left div.arrow a {
	display: inline-block;
}

#products div.bottom div.left div.arrow a span.left {
	padding: 20px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 25px;
	box-shadow: 0px 20px 36px 18px rgb(218, 218, 218);
	margin-right: 20px;
}

#products div.bottom div.left div.arrow a span.left img {
	width: 100%;
	display: block;
}

#products div.bottom div.left div.arrow a span.right {
	padding: 20px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 25px;
	box-shadow: 0px 20px 36px 18px rgb(218, 218, 218);
}
#products div.bottom div.left div.arrow a span.right img {
	display: block;
	width: 100%;
	transform: scaleX(-1);
}

#products div.bottom div.right {
	width: 65%;
}

#products div.bottom div.right ul {
	/*display: flex;*/
	align-items: center;
	justify-content: space-between;
	/*width: 100%;*/
}

#products div.bottom div.right ul li {
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;
	padding: 30px;
	margin-right: 30px;
	width: 100%;
}

#products div.bottom div.right ul li:last-child {
	margin-right: 0;
}

#products div.bottom div.right ul li img {
	display: block;
	width: 100%;
}

#products div.bottom div.right ul li div.text {
	margin: 30px 0;
}
#products div.bottom div.right ul li div.text p {
	font-family: "product_sansregular";
	font-size: 25px;
	color: #15232e;
	margin-bottom: 10px;
}

#products div.bottom div.right ul li div.text span {
	font-family: "product_sansbold";
	font-size: 22px;
	color: #4caf50;
}

/*#products div.bottom div.right ul li a.button {
	display: flex;
	align-items: center;
	font-family: "product_sansregular";
	font-size: 22px;
	color: #fff;
	background-color: #4caf50;
	padding: 20px 10px;
	border-radius: 30px;
	text-align: center;
}
#products div.bottom div.right ul li a.button span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 75px;
	margin-left: 20px;
}
#products div.bottom div.right ul li a.button span img {
	display: block;
	width: 100%;
}*/
#products div.bottom div.right ul li span.button {
	width: 100%;

	background-color: #4caf50;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	margin-top: 30px;
}
#products div.bottom div.right ul li span.button a.button {
	color: #fff;
	display: block;
	background: url(../images/whatsapp.png) no-repeat;
	background-size: 20px;
	background-position: left 30px top 20px;
	padding: 20px 0;
	font-family: 'product_sansregular';
	font-size: 20px;
}

#today {
	padding-top: 100px;
}

#today div.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

#today div.top div.left {
}

#today div.top div.left h2 {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #4caf50;
	margin: 75px 0 45px;
	line-height: 60px;
}

#today div.top div.left h2 small {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #515151;
}

#today div.top div.right {
}

#today div.top div.right ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#today div.top div.right ul li {
	margin-right: 20px;
}

#today div.top div.right ul li a:hover {
	text-decoration-line: underline;
	text-decoration-color: #4caf50;
	text-decoration-style: solid;
}

#today div.top div.right ul li:last-child {
	margin-right: 0;
}
#today div.top div.right ul li a {
	display: inline-block;
	font-family: "product_sansbold";
	font-size: 25px;
	color: #15232e;
}

#today div.bottom {
}

#today div.bottom ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

#today div.bottom ul li {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}

#today div.bottom ul li img {
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	display: block;
	width: 100%;
}

/*#today div.bottom ul li img:hover {
	filter: blur(4px);
}*/

#today div.bottom ul li p {
	font-family: "product_sansregular";
	text-align: center;
	font-size: 26px;
	color: #15232e;
	margin-top: 20px;
}

#today div.bottom ul li:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

#today div.bottom ul li div.overlay {
	position: absolute;
	width: 100%;
	height: 85%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-color: rgba(0,0,0,0.65);*/
	z-index: 2;
	opacity: 0;
	transition: 0.5s ease;
}

#order {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 90%;
}
#order a.button {
	display: flex;
	align-items: center;
	font-family: "product_sansregular";
	font-size: 22px;
	color: #fff;
	background-color: #4caf50;
	padding: 20px 10px;
	border-radius: 30px;
	text-align: center;
}
#order a.button span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 75px;
	margin-left: 20px;
}
#order a.button span img {
	display: block;
	width: 100%;
}
#today div.bottom ul li small {
	font-family: "product_sansbold";
	font-size: 25px;
	color: #4caf50;
}

#banner {
	padding-top: 100px;
}
#banner section.wrapper {
	background: url(../images/bg2.jpg) no-repeat;
	background-size: cover;
	height: 300px;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
}

#banner h1 {
	font-family: "product_sansbold";
	font-size: 48px;
	color: #fff;
	width: 45%;
	padding: 70px 0 0 65px;
}

#deals {
	padding: 120px 0;
}
#deals section.wrapper {
	display: flex;
	justify-content: space-between;
}

#deals section.wrapper div.left {
	width: 35%;
}

#deals section.wrapper div.left div.top {
}

#deals section.wrapper div.left div.top h2 {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #4caf50;
	margin: 75px 0 45px;
	line-height: 60px;
}

#deals section.wrapper div.left div.top h2 small {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #515151;
}

#deals section.wrapper div.left div.bottom {
	text-align: center;
}

#deals section.wrapper div.left div.bottom img {
	box-shadow: 0px 20px 36px 10px rgb(218, 218, 218);
	display: block;
	width: 100%;
	height: 650px;
}

#deals section.wrapper div.left div.bottom p {
	font-family: "product_sansregular";
	text-align: center;
	font-size: 26px;
	color: #15232e;
	margin-top: 20px;
}

#deals section.wrapper div.left div.bottom small {
	font-family: "product_sansbold";
	font-size: 25px;
	color: #4caf50;
}

#deals section.wrapper div.right {
	width: 55%;
}

#deals section.wrapper div.right div.top {
}

#deals section.wrapper div.right div.top h2 {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #4caf50;
	margin: 75px 0 45px;
	line-height: 60px;
}

#deals section.wrapper div.right div.top h2 small {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #515151;
}

#deals section.wrapper div.right div.bottom {
}

#deals section.wrapper div.right div.bottom ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

#deals section.wrapper div.right div.bottom ul li {
	display: flex;
	justify-content: space-evenly;
}

#deals section.wrapper div.right div.bottom ul li img {
	display: block;
	width: 40%;
	box-shadow: 0px 20px 36px 10px rgb(218, 218, 218);
}

#deals section.wrapper div.right div.bottom ul li div.text {
	margin-left: 20px;
}

#deals section.wrapper div.right div.bottom ul li div.text p {
	font-family: "product_sansregular";
	font-size: 24px;
	color: #15232e;
	margin-bottom: 10px;
}

#deals section.wrapper div.right div.bottom ul li div.text small {
	font-family: "product_sansbold";
	font-size: 21px;
	color: #4caf50;
}

#offer {
	padding: 120px 0;
}

#offer div.top {
	text-align: center;
}

#offer section.wrapper div.top h2 {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #4caf50;
	margin-bottom: 150px;
}

#offer section.wrapper div.top h2 small {
	font-family: "product_sansbold";
	font-size: 50px;
	color: #515151;
}

#offer div.bottom {
}

#offer div.bottom ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#offer div.bottom ul li {
	display: flex;
	align-items: center;
	width: 50%;
}

#offer div.bottom ul li img {
	display: inline-block;
	width: 40%;
	height: 350px;
}

#offer div.bottom ul li div.container {
	background-color: #4caf50;
	width: 330px;
	height: 200px;
}

#offer div.bottom ul li div.container div.top {
	border-bottom: 1px solid #e9e9e9;
}

#offer div.bottom ul li div.container div.top h6 {
	font-family: "product_sansregular";
	font-size: 46px;
	color: #fff;
	margin: 30px 0 30px 30px;
	text-align: left;
}

#offer div.bottom ul li div.container div.bottom {
	margin: 5px 0 30px 30px;
}

#offer div.bottom ul li div.container div.bottom p {
	font-family: "product_sansregular";
	font-size: 30px;
	color: #e9e9e9;
}

#offer div.bottom ul li div.container div.bottom small {
	font-family: "product_sansregular";
	font-size: 21px;
	color: #e9e9e9;
	margin-right: 20px;
}

#offer div.bottom ul li div.container div.bottom span {
	font-family: "product_sansregular";
	font-size: 19px;
	color: #e9e9e9;
	text-decoration: line-through;
}

#gallery {
	padding: 120px 0;
}

#gallery ul {
	display: flex;
	justify-content: space-between;
}

#gallery ul li {
	border: 10px solid #ddf0dd;
}
#gallery ul li div.container {
	position: relative;
    top: -30px;
    left: 25px;
    height: 100%;
    width: 100%;
}

#gallery ul li img {
	display: block;
	width: 100%;
}

#gallery ul li:hover div.container div.over {
	opacity: 1;
	/*cursor: pointer;*/
}

#gallery ul li div.container div.over {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgb(76, 176, 80);
	z-index: 2;
	opacity: 0;
	transition: 0.5s ease;
	text-align: right;
    padding: 25px;
}

#content {
	text-align: left;

}

#content p {
	font-family: "product_sansregular";
	font-size: 21px;
	color: #fff;
}

#content small {
	font-family: "product_sansregular";
	font-size: 18px;
	color: #e9e9e9;
	text-align: left;
	display: block;
}

#gallery ul li div.container a.button {
	display: inline-block;
	font-family: "product_sansregular";
	font-size: 19px;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 0;
	border-radius: 30px;
	text-align: center;
}

#gallery ul li div.container a.button span {
	display: inline-block;
	width: 8%;
	/*margin-right: 75px;
	margin-left: 20px;*/
}

#gallery ul li div.container a.button span img {
	display: block;
	width: 100%;
	position: initial;
}

footer {
	padding: 120px 120px 0px 120px;
	background-color: #2c2c2c;
	/*width: 100%;*/
}

footer div.top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

footer div.top div.left {
	width: 32.5%;
}

footer div.top div.left a {
	display: inline-block;
	margin-bottom: 30px;
}

footer div.top div.left a img {
	display: block;
	width: 100%;
}

footer div.top div.left p {
	font-family: "product_sansregular";
	font-size: 19px;
	color: #5f5f5f;
}

footer div.top div.right {
	width: 63%;
}

footer div.top div.right ul {
	display: flex;
	justify-content: space-between;
}

footer div.top div.right ul li {
	margin-right: 20px;
	width: 33%;
}

footer div.top div.right ul li:last-child {
	margin-right: 0;
}
footer div.top div.right ul li h6 {
	font-family: "product_sansbold";
	font-size: 35px;
	color: #5f5f5f;
	margin-bottom: 40px;
}

footer div.top div.right ul li a {
	display: inline-block;
}

footer div.top div.right ul li a p {
	font-family: "product_sansregular";
	font-size: 25px;
	color: #8e8e8e;
	margin-bottom: 30px;
}

footer div.top div.right ul li a p i {
	margin-right: 30px;
	font-size: 30px;
}
footer div.top div.right ul li p {
	font-family: "product_sansregular";
	font-size: 25px;
	color: #8e8e8e;
	margin-bottom: 30px;
}

footer div.bottom {
	border-top: 1px solid #8e8e8e;
	text-align: center;
	padding: 50px 0;
}

footer div.bottom small {
	font-family: "product_sansregular";
	font-size: 18px;
	color: #868e8e;
}

span.over {
	display: none;
	z-index: 90;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.65);
}

span.over.active {
	display: block;
}

/*products.html*/

#categories {
	padding: 100px 0;
	background: url(../images/circle.png) no-repeat;
	background-position-x: initial;
}

#categories section.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

#categories section.leftindent {
	box-sizing: border-box;
	width: 20%;
}

#categories section.leftindent aside {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#categories section.leftindent aside div.top {
	border-color: #fff;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	width: 100%;
	padding: 30px;
}

#categories section.leftindent aside div.top h6 {
	font-family: "product_sansregular";
	font-size: 22px;
	color: #707070;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#categories section.leftindent aside div.top form {
	display: flex;
	flex-direction: column;
}

#categories section.leftindent aside div.top form div.item {
	margin-bottom: 20px;
}

#categories section.leftindent aside div.top form div.item:last-child {
	margin-bottom: 0;
}
#categories section.leftindent aside div.top form div.item input {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

#categories section.leftindent aside div.top form div.item input:checked {
	background-color: #4cb050;
	border: 1px solid #adb8c0;
	color: #fff;
}

#categories section.leftindent aside div.top form div.item input:after {
	content: "\2714";
	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #fff;
}

#categories section.leftindent aside div.top div.item label {
	font-family: "product_sansregular";
	font-size: 22px;
	color: #707070;
	margin-left: 10px;
}

#categories section.leftindent aside div.middle {
	margin-top: 50px;
	border-color: #fff;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	width: 100%;
	padding: 30px;
}

#categories section.leftindent aside div.middle h6 {
	font-family: "product_sansregular";
	font-size: 22px;
	color: #707070;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#categories section.leftindent aside div.middle div.items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#categories section.leftindent aside div.middle div.items p {
	padding: 9px 32px 9px 10px;
	border-radius: 7px;
	background-color: #ececec;
	margin-bottom: 20px;
	margin-right: 10px;
	color: #8d8d8d;
	font-weight: bold;
}

#categories section.leftindent aside div.bottom {
	margin-top: 50px;
	border-color: #fff;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	width: 100%;
	padding: 30px;
}

#categories section.leftindent aside div.bottom h6 {
	font-family: "product_sansregular";
	font-size: 22px;
	color: #707070;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
}

#categories section.leftindent aside div.bottom span {
	font-family: "product_sansregular";
	font-size: 14px;
	color: #707070;
}

#categories section.leftindent aside div.bottom small {
	font-family: "product_sansregular";
	font-size: 15px;
	color: #707070;
	font-weight: bold;
	margin-left: 10px;
}

#categories section.leftindent aside div.bottom div.from-to {
	margin-top: 100px;
	display: flex;
	align-items: flex-end;
}

#categories section.leftindent aside div.bottom div.from-to form.from {
	margin-right: 10px;
}

#categories section.leftindent aside div.bottom div.from-to form.from label {
	margin-bottom: 10px;
	font-family: "product_sansregular";
	font-size: 15px;
	color: #707070;
}

#categories section.leftindent aside div.bottom div.from-to form.from input {
	margin-top: 30px;
	border: 2px solid #d2d2d2;
	border-radius: 5px;
	padding: 10px;
	width: 65px;
}
#categories section.leftindent aside div.bottom div.from-to form.to {
}

#categories section.leftindent aside div.bottom div.from-to form.to label {
	font-family: "product_sansregular";
	font-size: 15px;
	color: #707070;
}

#categories section.leftindent aside div.bottom div.from-to form.to input {
	margin-top: 30px;
	border: 2px solid #d2d2d2;
	border-radius: 5px;
	padding: 10px;
	width: 65px;
}
#categories section.leftindent aside div.bottom div.from-to a {
	display: inline-block;
	background-color: #707070;
	padding: 9px;
	margin-left: 10px;
}

#categories section.leftindent aside div.bottom div.from-to a span {
}

#categories section.leftindent aside div.bottom div.from-to a span i {
	color: #fff;
	font-size: 21px;
}

#categories section.rightindent {
	width: 70%;
}

#categories section.rightindent #today {
	padding-top: 0;
}

#categories section.rightindent #today div.bottom ul {
}

#categories section.rightindent #today div.bottom ul li #order a.button span {
	margin-right: 25px;
}

#categories section.rightindent #today .bottom div.arrow {
}

#categories section.rightindent #today .bottom div.arrow {
	margin-top: 70px;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#categories section.rightindent #today .bottom div.arrow a {
	display: inline-block;
}
#categories section.rightindent #today .bottom div.arrow a span.left {
	padding: 13px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 30px;
	box-shadow: 0px 20px 36px -11px rgb(218, 218, 218);
}

#categories section.rightindent #today .bottom div.arrow a span.left img {
	display: block;
	width: 100%;
}
#categories section.rightindent #today .bottom div.arrow span.dot {
	height: 35px;
	width: 35px;
	/*margin: 0 2px;*/
	border: 1px solid #4caf50;
	text-align: center;
	font-family: "product_sansregular";
	font-size: 21px;
	color: #4caf50;
	/*background-color: #fff;*/
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#categories section.rightindent #today .bottom div.arrow a span.right {
	padding: 13px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	width: 30px;
	box-shadow: 0px 20px 36px -11px rgb(218, 218, 218);
}

#categories section.rightindent #today .bottom div.arrow a span.right img {
	display: block;
	width: 100%;
	transform: scaleX(-1);
}
/*productview.html*/

#view {
	background: url(../images/circle.png) no-repeat;
	background-position-x: initial;
	padding: 100px 0;
}

#view div.top {
	width: 100%;
	background: #fff;
	box-shadow: 0px 20px 36px -9px rgb(218, 218, 218);
	padding: 30px 0 30px 30px;
}

#view div.top h3 {
	font-family: "product_sansregular";
	font-size: 21px;
	color: #535353;
	font-weight: bold;
}

#view div.bottom {
	display: flex;
	/*justify-content: space-between;*/
	align-items: flex-start;
	margin-top: 50px;
	border-bottom: 1px solid #c1c1c1;
	padding-bottom: 70px;
}

#view div.bottom div.left {
	width: 30%;
}

#view div.bottom div.left img {
	display: block;
	width: 100%;
}

#view div.bottom div.right {
	margin-left: 40px;
	width: 70%;
}

#view div.bottom div.right div.topper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 20px;
	border-bottom: 1px solid #c1c1c1;
}

#view div.bottom div.right div.topper div.left {
	width: 100%;
}

#view div.bottom div.right div.topper div.left h4 {
	font-family: "product_sansregular";
	font-size: 21px;
	color: #535353;
	margin-bottom: 10px;
}

#view div.bottom div.right div.topper div.left h5 {
	font-family: "product_sansregular";
	font-size: 19px;
	color: #c1c1c1;
	margin-bottom: 10px;
}

#view div.bottom div.right div.topper div.left h6 {
	font-family: "product_sansregular";
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

#view div.bottom div.right div.topper div.left h6 span {
	font-family: "product_sansregular";
	font-size: 14px;
	color: #c1c1c1;
	text-decoration: line-through;
	margin: 0 20px;
}

#view div.bottom div.right div.topper div.left h6 small {
	font-weight: bold;
	color: #4caf50;
}

#view div.bottom div.right div.topper div.right {
	display: flex;
}

#view div.bottom div.right div.topper div.right a {
	display: inline-block;
	width: 20px;
}

#view div.bottom div.right div.topper div.right a:first-child {
	margin-right: 20px;
}

#view div.bottom div.right div.topper div.right a img {
	display: inline-block;
	width: 100%;
}

#view div.bottom div.right div.middle {
	padding: 20px 0;
	border-bottom: 1px solid #c1c1c1;
}
#view div.bottom div.right div.middle #qty{
	display: inline-block;
	text-align: center;
}

#view div.bottom div.right div.middle h4 {
	font-family: "product_sansregular";
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 30px;
}

#view div.bottom div.right div.middle h4 a {
	font-family: "product_sansregular";
	display: inline-block;
	font-size: 16px;
	padding: 3px 8px;
	background-color: #ebebeb;
	color: #757575;
	margin-right: 10px;
}

#view div.bottom div.right div.middle h4 a.less {
	margin-right: 15px;
	margin-left: 30px;
}

#view div.bottom div.right div.middle h4 a.add {
	margin-left: 15px;
}

#view div.bottom div.right div.middle h4 span {
	font-family: "product_sansregular";
	font-size: 18px;
	font-weight: bold;
	color: #939393;
}

#view div.bottom div.right div.middle h5 {
	font-family: "product_sansbold";
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}

#view div.bottom div.right div.middle div.offer {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#view div.bottom div.right div.middle div.offer img {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#view div.bottom div.right div.middle div.offer small {
	font-family: "product_sansregular";
	font-size: 15px;
	color: #bfbfbf;
}

#view div.bottom div.right div.under {
}

#view div.bottom div.right div.under div.buttons {
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#view div.bottom div.right div.under div.buttons a.button1 {
	width: 40%;
	padding: 20px;
	border-radius: 35px;
	color: #4caf50;
	border: 3px solid #4caf50;
	display: inline-block;
	font-size: 17px;
	text-align: center;
}

#view div.bottom div.right div.under div.buttons a.button2 {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "product_sansregular";
	font-size: 17px;
	color: #fff;
	background-color: #4caf50;
	padding: 20px;
	border-radius: 30px;
	text-align: center;
}

#view div.bottom div.right div.under div.buttons a.button2 span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-left: 20px;
}

#view div.bottom div.right div.under div.buttons a.button2 span img {
	display: inline-block;
	width: 100%;
}
#contact div.form-control input,textarea {
	padding: 15px;
	border:1px solid #000;
}


@media all and (max-width: 1280px) {
	#spotlight div.left h1 {
		margin-top: 0;
	}
	#spotlight div.arrow span.dot {
		height: 10px;
		width: 10px;
	}
	#spotlight div.arrow a span.right {
		width: 20px;
	}
	#spotlight div.arrow a span.left {
		width: 20px;
	}
	/*#products div.top ul li a span {
		margin-right: 0;
		height: 20px;
		width: 20px;
	}
	#products div.top ul li a small {
		font-size: 21px;
	}*/
	/*#products div.top ul li {
		padding-right: 3%;
	}*/
	footer div.top div.left p {
		margin-bottom: 50px;
	}
	footer div.top div.right ul li p {
		font-size: 19px;
	}
	footer div.top div.right ul li h6 {
		font-size: 27px;
	}
	footer div.top div.left {
		width: 50%;
	}
	footer div.top div.right {
		width: 100%;
	}
	footer div.top div.right ul li a p i {
		margin-right: 10px;
		font-size: 26px;
	}
	footer div.top div.right ul li a p {
		font-size: 19px;
	}
	#gallery ul {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	#gallery ul li {
		margin-bottom: 50px;
	}
	#offer div.bottom ul li {
		margin-bottom: 30px;
	}
	#deals section.wrapper div.right div.bottom ul li img {
		width: 60%;
	}
	#deals section.wrapper div.right div.bottom ul li {
		flex-wrap: wrap;
		/*justify-content: flex-start;*/
	}
	#order a.button span {
		margin-right: 30px;
	}
	#today div.bottom ul li div.overlay {
		/*height: 81%;*/
	}
	#products div.bottom div.right ul li a.button span {
		margin-right: 50px;
		width: 10%;
	}
	#products div.bottom div.right ul li a.button {
		font-size: 19px;
	}
	#products div.bottom {
		flex-wrap: wrap;
	}
	#products div.bottom div.left {
		margin-bottom: 50px;
	}
	#today div.top div.left h2 {
		margin: 0;
	}
	#offer div.bottom ul li div.container {
		width: 500px;
	}
	#deals section.wrapper div.right div.bottom ul li div.text {
		margin-left: 0;
	}
	#home header section.wishlist div.middle {
		padding: 100px 0;
	}
	#products div.top ul li a span {
		margin-right: 0;
	}
}
@media all and (max-width: 1100px){
	#gallery ul li div.container div.over {
		opacity: 1;
	}
}
@media all and (max-width: 980px) {
	#home header section.verification div.left {
		display: none;
	}
	#home header section.verification div.right {
		width: 100%;
	}
	#spotlight div.left h1 {
		font-size: 55px;
	}
	#spotlight div.left {
		width: 80%;
	}
	/*#products div.top ul li a span {
		width: 10px;
		height: 10px;
	}
	#products div.top ul li a small {
		font-size: 20px;
	}*/
	/* #home header ul li.other {
		display: none;
	} */

	#home header ul.nav-links {
		position: fixed;
		right: 0;
		height: 92vh;
		top: 0;
		background-color: #fff;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 25%;
		transform: translateX(100%);
		overflow-x: hidden;
		transition: transform 0.5s ease-in;
		padding: 20px 0;
	}
	#home header ul.nav-links li {
		margin-right: 0;
	}
	#home header div.handburger {
		display: block;
		cursor: pointer;
	}
	#home header div.handburger {
		font-size: 21px;
		color: #e9e9e9;
	}
	#home header ul.nav-links.active {
		transform: translateX(0%);
	}
	#home header ul.nav-links li form {
		width: 35px;
		border: none;
		display: block;
		padding: 0;
	}
	#home header ul.nav-links li form input {
		display: none;
		border: none;
	}
	#home header ul.nav-links li form span {
		width: 25px;
		margin: 0 auto;
	}
	#home header ul.nav-links li form span img {
		width: 100%;
	}
	#products div.bottom div.right ul li a.button span {
		margin-right: 40px;
	}
	footer div.top div.right ul {
		flex-wrap: wrap;
	}
	footer div.top div.right ul li {
		width: 41%;
	}
	#today div.bottom ul li div.overlay {
		height: 81%;
	}
	#offer div.bottom ul li {
		width: 100%;
	}
	#offer div.bottom ul li:last-child {
		margin-bottom: 0;
	}
	/*product.html*/
	#categories section.leftindent aside div.bottom div.from-to {
		flex-wrap: wrap;
	}
	#categories
		section.leftindent
		aside
		div.bottom
		div.from-to
		form.from
		input {
		margin-top: 9px;
	}
	#categories section.leftindent aside div.bottom div.from-to form.to {
		margin-top: 9px;
	}
	#categories section.leftindent aside div.bottom div.from-to form.to input {
		margin-top: 9px;
	}
	#deals section.wrapper div.left div.bottom img {
		height: 475px;
	}
	#products div.top ul li a span {
		margin-right: 5px;
	}
	#home header section.wishlist div.top {
		margin-bottom: 0;
	}
	/*#home header section.wishlist ul {
		grid-template-columns: 1fr;
	}*/
	#products div.top div.arrow {
		display: none;
	}
}

@media all and (max-width: 768px) {
	#home header section.user_sign_in div.left {
		display: none;
	}
	#home header section.user_sign_in div.right {
		width: 100%;
	}
	#home header section.user_login div.left {
		display: none;
	}
	#home header section.user_login div.right {
		width: 100%;
	}

	footer div.top div.right ul li {
		width: 50%;
		margin-right: 0;
	}
	footer {
		padding: 120px 100px 0 100px;
	}
	#offer div.bottom ul li div.container div.top h6 {
		font-size: 38px;
	}
	#offer div.bottom ul li div.container div.bottom p {
		font-size: 24px;
	}
	#offer div.bottom ul li div.container div.bottom small {
		font-size: 18px;
	}
	#offer section.wrapper div.top h2 small {
		font-size: 46px;
	}
	#offer section.wrapper div.top h2 {
		font-size: 46px;
	}
	#deals section.wrapper div.left div.top h2 {
		font-size: 46px;
	}
	#deals section.wrapper div.left div.top h2 small {
		font-size: 46px;
	}
	#deals section.wrapper div.right div.top h2 {
		font-size: 46px;
	}
	#deals section.wrapper div.right div.top h2 small {
		font-size: 46px;
	}
	#offer {
		padding: 0;
	}
	#banner h1 {
		padding: 60px 0 0 65px;
		width: 50%;
	}
	#today div.bottom ul li p {
		font-size: 21px;
	}
	#today div.bottom ul li small {
		font-size: 19px;
	}
	#today div.top div.left h2 {
		font-size: 46px;
	}
	#today div.top div.left h2 small {
		font-size: 46px;
	}
	#today div.top div.right ul li a {
		font-size: 19px;
	}
	#products div.bottom div.right ul li a.button span {
		margin-right: 15px;
		margin-left: 0;
	}
	#products div.bottom div.right ul li div.text p {
		font-size: 21px;
	}
	#products div.bottom div.right ul li div.text span {
		font-size: 18px;
	}
	#products div.bottom div.left {
		width: 60%;
	}
	#products div.bottom div.left h1 {
		font-size: 46px;
	}
	/*#products div.top ul li a small {
		display: none;
	}*/
	/*#products div.top ul li {
		padding-right: 40px;
	}*/
	#products div.top ul li a span {
		width: 20px;
		height: 20px;
	}
	#spotlight div.left h1 {
		font-size: 46px;
		line-height: 60px;
		margin-bottom: 30px;
	}
	#spotlight div.left p {
		font-size: 20px;
	}
	#products div.bottom div.right ul li {
		padding: 20px;
	}
	#today div.top div.right ul li a {
		font-size: 18px;
	}
	#order a.button span {
		display: none;
	}
	#order a.button {
		display: block;
		text-align: center;
	}
	#products div.bottom div.right ul li a.button span {
		display: none;
	}
	#products div.bottom div.right ul li a.button {
		display: block;
		text-align: center;
	}
	
	/*product.html*/
	#categories section.rightindent {
		width: 100%;
	}
	#categories section.leftindent aside {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	#categories section.leftindent aside div.top {
		/* margin-right: 30px; */
		width: 33.33%;
	}
	#categories section.leftindent aside div.middle {
		/* margin-right: 30px; */
		margin-top: 0;
		width: 33.33%;
	}
	#categories section.leftindent aside div.bottom {
		margin-top: 0;
		width: 35%;
	}
	#categories section.leftindent {
		margin-bottom: 20px;
		width: 100%;
	}
	#categories section.leftindent aside div.bottom div.from-to {
		justify-content: space-evenly;
	}
	#categories section.leftindent aside div.bottom div.from-to a {
		margin-left: 0;
		margin-top: 10px;
	}
	#home header section.cart div.bottom a.button {
		padding: 20px 100px;
	}
	#home header section.wishlist div.bottom a.button {
		padding: 20px 70px;
	}
	#home header {
		padding: 35px 30px;
	}
}

@media all and (max-width: 640px) {
	#home header section.cart div.middle div.item div.details p {
		line-height: 20px;
		font-size: 14px;
	}
	#home header section.cart div.bottom h6 {
		font-size: 18px;
	}
	#home header section.cart div.bottom span.button {
		margin-top: 10px;
	}
	#home header section.cart div.middle {
		height: 32vh;
	}
	#home header section.cart {
		padding: 30px;
	}
	#home header section.cart div.bottom h3 {
		font-size: 18px;
	}
	#home header section.cart div.bottom p {
		line-height: 25px;
	}
	#home header section.cart div.bottom span.button a.button {
		padding: 15px;
		background-position: left 30px top 9px;
	}
	#home header section.cart div.bottom h3 {
		margin-bottom: 10px;
	}
	#products div.bottom div.right ul li span.button a.button {
		font-size: 16px;
	}
	#spotlight div.left h1 {
		font-size: 42px;
	}
	#spotlight div.left p {
		font-size: 18px;
	}
	#spotlight div.left a.button {
		padding: 20px 35px;
		font-size: 18px;
	}
	#today div.top div.left h2 {
		font-size: 42px;
	}
	#today div.top div.left h2 small {
		font-size: 42px;
	}
	#today div.top div.right ul {
		flex-wrap: wrap;
	}
	#banner h1 {
		font-size: 42px;
		padding: 55px 0 0 65px;
	}
	#deals section.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	#deals section.wrapper div.left {
		width: 80%;
	}
	#deals section.wrapper div.right {
		width: 80%;
	}
	footer div.top div.right ul li:last-child {
		width: 60%;
	}
	footer div.top div.right ul li h6 {
		font-size: 21px;
	}
	footer div.top div.right ul li a p {
		font-size: 17px;
		margin-bottom: 22px;
	}
	footer div.top div.right ul li p {
		font-size: 17px;
	}
	footer div.bottom small {
		font-size: 15px;
	}
	footer div.top div.left p {
		font-size: 17px;
	}
	#products div.bottom div.left h1 {
		font-size: 42px;
	}
	#products div.bottom div.left h1 small {
		font-size: 42px;
	}
	#products div.bottom {
		padding: 110px 15px;
	}
	#home header ul li form {
		width: 7em;
	}
	#view div.bottom {
		flex-wrap: wrap;
	}
	#view div.bottom div.left {
		width: 85%;
		padding-bottom: 40px;
	}
	#view div.bottom div.right div.under div.buttons a.button1 {
		width: 100%;
		margin-bottom: 15px;
	}
	#view div.bottom div.right div.under div.buttons a.button2 {
		width: 100%;
	}
	#view div.bottom div.right div.under div.buttons {
		flex-wrap: wrap;
	}
	#view div.bottom div.right div.topper {
		padding-bottom: 0;
	}
	#categories {
		padding: 5px;
	}
	#today div.top div.right ul li {
		width: 50%;
		margin-bottom: 10px;
		margin-right: 0;
	}
	#today div.top div.right ul li:nth-child(3) {
		margin-bottom: 0;
	} 
	#today div.top div.right ul li:nth-child(4) {
		margin-bottom: 0;
	} 
	#deals section.wrapper div.right div.bottom ul li div.text {
		margin-left: 0;
	}
	#home header section.cart div.bottom a.button {
		padding: 20px 60px;
	}
	#home header section.wishlist ul {
		grid-template-columns: 1fr;
	}
	#home header section.wishlist ul li div.item {
		width: 100%;
	}
	#view div.bottom div.right {
		margin-left: 0;
	}

}

@media all and (max-width: 480px) {
	#home header section.user_sign_in {
		width: 95%;
		height: 70vh;
	}

	#home header section.user_sign_in.active {
		top: 160px;
	}
	#home header section.user_sign_in div.right {
		padding: 30px 20px 20px;
	}
	#home header section.user_sign_in div.right div.top {
		margin-bottom: 20px;
	}
	#home header section.user_sign_in div.right div.bottom button a.button {
		padding: 10px 0;
	}
	#home header section.user_sign_in div.right div.bottom button a.button {
		margin: 0 auto;
		width: 75%;
	}
	#home header section.user_login {
		width: 95%;
		height: 70vh;
	}
	#home header section.user_login.active {
		top: 160px;
	}
	#home header section.user_login div.right {
		padding: 30px 20px 20px;
	}
	#home header section.user_login div.right div.top p {
		margin-bottom: 20px;
	}
	#home header section.user_login div.right div.top {
		margin-bottom: 20px;
	}
	#home header section.user_login div.right div.top form span.input {
		margin-bottom: 20px;
	}
	#home header section.user_login div.right div.bottom button a.button {
		padding: 10px 0;
	}
	#home header section.user_login div.right div.bottom button a.button {
		margin: 0 auto;
		width: 75%;
	}
	#home header section.verification {
		width: 95%;
		height: 70vh;
	}
	#home header section.verification.active {
		top: 160px;
	}
	#home header section.verification div.right {
		padding: 30px 20px 20px;
	}
	#home header ul li form {
		display: none;
	}
	#spotlight div.arrow span.dot {
		display: none;
	}
	/*#products div.top ul li {
		padding-right: 15px;
	}*/
	
	#today div.top div.right ul li {
		margin-bottom: 20px;
	}
	#today div.bottom ul {
		grid-template-columns: 1fr 1fr;
	}
	#deals section.wrapper div.right div.bottom ul {
		grid-template-columns: 1fr;
	}
	#deals section.wrapper div.left div.top h2 {
		font-size: 42px;
		margin-top: 0;
	}
	#deals section.wrapper div.left div.top h2 small {
		font-size: 42px;
	}
	#deals section.wrapper div.left div.bottom p {
		font-size: 22px;
	}
	#deals section.wrapper div.left div.bottom small {
		font-size: 20px;
	}
	#deals section.wrapper div.right div.top h2 {
		font-size: 42px;
	}
	#deals section.wrapper div.right div.top h2 small {
		font-size: 42px;
	}
	#deals section.wrapper div.right div.bottom ul li div.text p {
		font-size: 22px;
	}
	#deals section.wrapper div.right div.bottom ul li div.text small {
		font-size: 19px;
	}
	#offer section.wrapper div.top h2 {
		font-size: 42px;
		margin-bottom: 80px;
	}
	footer div.top div.right ul li {
		width: 100%;
		margin-bottom: 30px;
	}
	footer div.top div.right ul li:last-child {
		width: 100%;
	}
	footer div.top div.left {
		width: 80%;
	}
	#products div.bottom div.left div.arrow a span.left {
		padding: 8px;
	}
	#products div.bottom div.left div.arrow a span.right {
		padding: 8px;
	}
	#products div.top div.arrow a span.left {
		padding: 8px;
	}
	#products div.top div.arrow a span.right {
		padding: 8px;
	}
	/*#products div.top ul li {
		padding-right: 0;
		border: none;
	}*/
	#products div.top div.arrow {
		margin: 22px 120px 0 0;
	}
	#today {
		padding-top: 90px;
	}
	#today div.top {
		flex-wrap: wrap;
	}
	#today div.top div.left h2 {
		margin-bottom: 30px;
	}
	#gallery ul li div.over {
		display: none;
	}
	#offer div.bottom ul li img {
		display: none;
	}
	footer {
		padding: 120px 30px 0 30px;
	}
	#deals section.wrapper div.left div.bottom img {
		height: 400px;
	}
	#products div.bottom {
		padding: 10px 15px;
	}
	#view div.bottom div.right {
		margin-left: 0;
	}
	#view div.bottom div.right div.middle h5 {
		margin-bottom: 15px;
	}
	#categories section.leftindent aside div.middle {
		margin-right: 0;
	}
	#categories section.leftindent aside div.bottom div.from-to {
		justify-content: space-between;
	}
	#categories section.leftindent aside div.top {
		margin-right: 0;
	}
	#categories section.rightindent #today .bottom div.arrow {
		margin: 22px 120px 0 0;
		justify-content: normal;
	}
	#categories section.rightindent #today .bottom div.arrow span.dot {
		display: none;
	}
	#home header section.wishlist div.bottom a.button {
		padding: 20px 30px;
	}
	#home header section.wishlist {
		padding: 15px;
	}
	#home header section.wishlist div.bottom h3 {
		font-size: 28px;
	}
}

@media all and (max-width: 360px) {
	footer {
		padding: 120px 30px 0 30px;
	}

	#banner h1 {
		padding: 30px 0 0 65px;
	}
	/*#products div.top ul li {
		padding-right: 6px;
	}*/

	#spotlight div.left h1 {
		font-size: 38px;
	}
	#spotlight div.left a.button {
		font-size: 16px;
	}

	/*#products div.bottom div.right ul {
		flex-wrap: wrap;
	}*/
	/*#products div.bottom div.right ul li {
		margin-bottom: 20px;
		margin-right: 0;
	}*/
	/*#products div.bottom div.right ul li:last-child {
		margin-bottom: 0;
	}*/
	#categories section.leftindent aside div.top {
		width: 50%;
	}
	#categories section.leftindent aside div.bottom {
		width: 50%;
	}
	#categories section.leftindent aside div.middle {
		width: 50%;
	}
}

@media all and (max-width: 320px) {
	/*#products div.top ul li {
		padding-right: 0;
	}*/
}
